.auth__form-submit-button {
  width: 358px;
  height: 50px;
  background: #ffffff;
  border-style: none;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-top: 216px;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .auth__form-submit-button {
    width: 100%;
    margin-top: 173px;
  }
}
