.profile__list {
  display: flex;
  align-items: center;
  gap: 30px;

}

@media screen and (max-width: 767px) {
  .profile__list  {
    width: 100%;
    flex-direction: column;
    gap: 27px;
  }
}

@media screen and (min-width: 768px) {
  .profile__list  {
    width: calc(100% - 160px);
  }
}

