.auth__title {
  font-size: 24px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-weight: 900;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .auth__title {
    padding-bottom: 9px;
  }
}
