/*.content {
  margin-left: 19px;
  margin-right: 19px;
}

@media screen and (min-width: 768px) {
  .content {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    margin-left: 200px;
    margin-right: 200px;
  }
}
*/
