.photo-grid__cards {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 282px;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 20px;
}

@media screen and (min-width: 768px) {
  .photo-grid__cards {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 17px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid__cards {
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 1fr);
  }
}
