.profile__edit-button {
  padding: 0;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__edit-button:focus-visible {
  outline: 0;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
